@{
    ViewData["Title"] = "Home Page";
}


<body style="background-color:pink;">
</body>
<div class="text-center">
    <h1> Bienvenidos a mi primera pagina web</h1>
    <h2> Lesly Antunez</h2>
    
</div>

