@{
    ViewData["Title"] = "Sobre mi ";
}

<body style="background-color:pink;">
</body>

<div class="text-center">

    <img src="~/NewFolder1/NewFolder/Hourse.jpg" width="1200" height="500" />

    <div style="
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 28px;
        text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
        text-align: center;
    ">
        <div style="font-weight: bold;">
            Lesly María Antúnez Oliva
        </div>
        
        <div style="font-weight: normal; text-align: justify; font-size: 20px; margin-top: 10px;">
            Estudiante de Informática 🖥️ | Amante de los animales, especialmente de los caballos🐎
        </div>

    </div>
    
    
</div>


<h1>@ViewData["Title"]</h1>


<div style="display: flex; text-align: left;">
<p> "¡Hola! Soy Lesly, estudiante de Informática en la Universidad Metropolitana de Honduras, y estoy en segundo año de mi carrera. Soy originaria de Olancho, un lugar ancho para entrar y angosto para salir 😄. Me encanta descubrir cosas nuevas, aprender a mi ritmo y probar todo tipo de experiencias que me hagan crecer un poco cada día. Tengo 21 años y soy amante de la naturaleza: pasear, sentir el aire fresco, escuchar los sonidos del bosque… esas cosas me llenan de energía. Me gusta enfrentar retos, aunque a veces me haga tropezar, porque siempre aprendo algo nuevo de cada intento. En resumen, estoy en constante búsqueda de momentos y aprendizajes que me hagan mejor persona y me preparen para todo lo que viene.<p>
 <img src="~/NewFolder1/NewFolder/informatica.jpg" width="250" height="250" />


</div>